@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
:root{
    --clr: #262433;
    --txt:rgb(40, 40, 40);

    --destaq:rgb(215, 173, 230) ;
    --fundo:rgb(207, 229, 236);
    --fundo2:rgb(173,216,230);
    --fundo3:rgb(134, 197, 218);
}
::selection{
    background: var(--destaq);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    
}
  ::-webkit-scrollbar {
    width: 19px;
  }

  ::-webkit-scrollbar-track {
    background: var(--fundo2);
  }

  ::-webkit-scrollbar-thumb {
    background-color: var(--destaq);
    border-radius: 10px;
    border: 3px solid #000;
  }
p,h1{
    color: var(--txt);
    cursor: default;
}
html{
    scroll-behavior: smooth;
    background-color: var(--fundo);
}
a:visited{
    color: var(--txt);
}
a:link{
    color: var(--txt);
}
.container{
    width:calc(100vw - 19px);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
nav{
    width:100%;
    height: 5rem;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.logo{
    margin: 0.5rem 0rem 0.5rem 3rem;/*topo direita baixo esquerda */
    width: 9rem;
    height: calc(100% - 1rem);
}
.link-personagens{
    
    /* animation: show 1.5s ease; */
    background-color: var(--fundo2);
    margin: 1rem 19rem;
    height: 3rem;

    display: none;
    justify-content: space-evenly;
    align-items: center;

    list-style: none;
    border: 0.2rem solid var(--destaq);

}

.link-personagens li{
    margin: 0 1rem;
}
.checkbox-wrapper-41{
    margin: 0rem 3rem;
}

main{
    width: 100%;
    height: 100vh;
    background-color: var(--fundo1);
}
.autor{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row; 
}
.aluisio{
    height: 80%;
    width: 22%;
    margin: 3rem;
    padding: 3rem;
    padding-bottom: 15rem;
    border-radius: 20px 500px 500px 500px;/*topo direita baixo esquerda */
    background-color: var(--fundo2);
    border: 0.2rem solid var(--destaq); 
}
.aluisio img{
    width: 100%;
    border-radius:20px 500px 500px 500px;
}
.descricao{
    width: 100%;
    height: 65%;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
}

#p2{
    margin: 10px 0;
    font-style: italic;
    font-size: 0.9rem;
    text-align: center;
}
#p3{
    text-align: center;
}

.content{
    margin-top: 3rem;
    width: 70%;
    height: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.switches{
    display: flex;
    width: 100%;
    height: 10%;
    border-bottom:0;
}

#sobre{
    background-color: var(--fundo2);
    border-radius: 10px 0 0 0;
}
#obras{
    background-color: var(--fundo3);
    border-radius: 0 10px 0 0;
}

#sobre,#obras,#resumo,.pers a h1{
    height: 100%;
    width: 7rem;
    border: 0.2rem solid var(--destaq); 
    border-bottom: 0 !important;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.sobretxt{
    width: 100%;
    height: 90%;
    background-color: var(--fundo2);
    border: 0.2rem solid var(--destaq); 
    border-radius: 0 0 200px 00px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    overflow-y:auto;
    direction: rtl;
}
.sobretxt p{
    direction: ltr;
}
.sobretxt p:nth-child(1){/*topo direita baixo esquerda */
    margin: 3rem 4rem 1rem 2rem;
    text-align: justify;
}
.sobretxt p:nth-child(2){/*topo direita baixo esquerda */
    margin: 1rem 4rem 3rem 2rem;
    text-align: justify;
}
.sobretxt p{
    font-size: 1rem;
    margin: 0 3rem;
    text-align: justify;
}
.obrastxt{
    width: 100%;
    height: 90%;
    background-color: var(--fundo2);
    border: 0.2rem solid var(--destaq); 
    border-radius: 0 0 200px 00px;

    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}
.obrastxt p{
    cursor: pointer;
}

.livro1,.livro3{
    margin-bottom: 6.5rem;
    width: calc(100% / 4);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.livro2 a{
    display: flex;
    justify-content: center;
}
.livro2{
    margin-bottom: 6.5rem;
    width: calc(100% / 3);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.pensao{
    width: 80%;
}
.cortico-capa{
    width: 80%;
}
.mulato{
    width: 80%;
}
.livro{
    padding-top: 2rem;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row; 
}

.livro-cortico{
    height: 80%;
    width: 22%;
    margin: 3rem;
    padding: 3rem;
    padding-bottom: 15rem;
    border-radius: 500px 20px 500px 500px;/*topo direita baixo esquerda */
    background-color: var(--fundo2);
    border: 0.2rem solid var(--destaq); 
}
.livro-cortico img{
    width: 100%;
    border-radius:500px 20px 500px 500px;
}

.livro-content{
    margin-top: 3rem;
    margin-right: 3rem;
    width: 70%;
    height: 80%;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    
    
}
.livro-resumo-txt{
    width: 100%;
    height: 90%;
    background-color: var(--fundo2);
    border: 0.2rem solid var(--destaq); 
    border-radius: 0 0 0 200px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    overflow-y: auto;
}
.livro-resumo-txt p:nth-child(1){/*topo direita baixo esquerda */
    margin: 3rem 2rem 1rem 4rem;
    text-align: justify;
}
.livro-resumo-txt p:nth-child(2){
    margin: 1rem 2rem 3rem 4rem;
    text-align: justify;
}
.switches-livro{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 10%;
}
#resumo{
    border-radius: 10px 10px 0 0;
    background-color: var(--fundo2);
}



.pers{
    padding-top: 2rem;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: row; 
}
.pers-content{
    margin: 3rem;
    width: 90%;
    height: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content:center;
}
.txtPersonagem{
    width: 100%;
    height: 90%;
    background-color: var(--fundo2);
    border: 0.2rem solid var(--destaq); 
    display: flex;
    flex-wrap: wrap;
    overflow-y: auto;
}
.txtPersonagem p{
    width: 100%;
    /* height: 25%; */
    margin: 2rem;
    margin-right: 4rem;

    display: flex;
    align-items: center;
    text-align: justify;
    direction: ltr;
}
.txt1{
    border-radius: 0 0 200px 0;
    direction: rtl;
}
.txt2{
    border-radius: 0 200px 200px 0;
    direction: rtl;
}
.txt3{
    border-radius:0 200px 0 0;
    direction: rtl;
}




.switch-personagem-centro{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 10%;

}
.h1-personagem{
    border-radius: 10px 10px 0 0;
    background-color: var(--fundo2);
    cursor:pointer;
}



.divisao{
    display: flex;
    justify-content: center;
}
.divis{
    width: 93%;
    height: 0.2rem;
    background-color: var(--destaq);
}









 
  
.checkbox-wrapper-41 {
    --size: 4.688rem;
  }
  
  .checkbox-wrapper-41 input[type="checkbox"] {
    -webkit-appearance: none;
    width: var(--size);
    height: calc(var(--size) / 2);
    background-color: var(--fundo3);
    border: 3px solid #222;
    border-radius: 30px 100px 100px 100px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
    outline: none;
    cursor: pointer;
    position: relative;
    transition: all 0.5s;
  }
  
  .checkbox-wrapper-41 input[type="checkbox"]::before {
    content: "";
    position: absolute;
    width: calc(var(--size) / 2);
    height: calc(var(--size) / 2);
    left: 0;
    top: 50%;
    transform: translateY(-50%) scale(0.7);
    border: 3px solid #222;
    border-radius: 30px 100px 100px 100px;
    background-color: var(--destaq);
    box-sizing: border-box;
    transition: all 0.5s;
  }
  
  .checkbox-wrapper-41 input[type="checkbox"]:checked {
    background-color: var(--fundo3);
    border-radius: 100px 100px 30px 100px;
  }
  
  .checkbox-wrapper-41 input[type="checkbox"]:checked::before {
    left: 50%;
    background-color: var(--destaq);
    border-radius: 100px 100px 30px 100px;
  }




  #checkbox {
    display: none;
  }
  
  .toggle {
    position: relative;
    width: 40px;
    height: 40px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    transition-duration: .5s;
  }
  
  .bars {
    width: 100%;
    height: 4px;
    background-color: var(--destaq);
    border-radius: 4px;
  }
  
  #bar2 {
    transition-duration: .8s;
  }
  
  #bar1,#bar3 {
    width: 70%;
  }
  
  #checkbox:checked + .toggle .bars {
    position: absolute;
    transition-duration: .5s;
  }
  
  #checkbox:checked + .toggle #bar2 {
    transform: scaleX(0);
    transition-duration: .5s;
  }
  
  #checkbox:checked + .toggle #bar1 {
    width: 100%;
    transform: rotate(45deg);
    transition-duration: .5s;
  }
  
  #checkbox:checked + .toggle #bar3 {
    width: 100%;
    transform: rotate(-45deg);
    transition-duration: .5s;
  }
  
  #checkbox:checked + .toggle {
    transition-duration: .5s;
    transform: rotate(180deg);
  }

@keyframes show {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}



@media (max-width:600px){ 
    .container{
        display: flex;
        flex-direction: row;
        align-content: flex-start;
        justify-content: center;
    }
    .nav{
        flex-wrap: nowrap;
        display: flex;
        justify-content: center;

    }
    .logo{
        width: 4rem;
    }

    .autor{
        margin-bottom: 3rem;
        flex-wrap: wrap;
        height: calc(200vh + 3rem);
        align-items: flex-start;
        justify-content: center;
        align-content: space-evenly;
    }
    .aluisio{
        padding: 0;
        margin: 0;
        width: 80%;
        height: 90vh;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        border-radius: 20px 20px 500px 500px;/*topo direita baixo esquerda */
    }
    .aluisio img{
        width: 55%;
        height: 40% !important;
        margin-top: 2rem;
        border-radius:20px 20px 500px 500px;
        flex-wrap: wrap;
    }
    .descricao{
        height: calc(60% - 5rem);
        width: 80%;
        align-content: center;
        justify-content: center;
        align-content: space-evenly;
    }
    .content{
        padding: 0;
        margin: 0;
        height: 90vh;
        width: 80%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .switches{
        display: flex;
        justify-content: flex-start;
    }


    .livro{
        flex-wrap: wrap;
        height: calc(200vh + 16rem);
        align-items: flex-start;
        justify-content: center;
    }
    .livro-content{
        padding: 0;
        margin: 0;
        height: 100vh;
        width: 80%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .livro-cortico{
        padding: 0;
        margin: 0;
        width: 80%;
        height: 100vh;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        border-radius: 20px 20px 500px 500px;
    }
    .livro-cortico img{
        width: 60%;
        height: 40%;
        margin-top: 2rem;
        border-radius:20px 20px 500px 500px;
        flex-wrap: wrap;
    }
    .aluisio img{
        width: 55%;
        height: calc(60% - 5rem);
        margin-top: 2rem;
        border-radius:20px 20px 500px 500px;
        flex-wrap: wrap;
    }
    .switch-personagem-centro{
        justify-content: flex-start;
    }
    .pers{
        height: 100vh;
        width: 90%;
        margin: 2rem;
    }
    .pers-content{
        height: 100%;
        margin: 0;
    }
    .txtPersonagem p{
        margin: 2rem;
        margin-right: calc(2rem + 19px);
    }
    .pers p:nth-child(1){
        margin-top: 5rem;
    }
    .txtPersonagem{
        flex-wrap: wrap;

    }
    #p2{
        font-size: 1rem;
    }
    #p3{
        font-size: 1.1rem;
    }
    .divisao{
        width: 100%;
    }
    .divis{
        width: 80%;
    }
}