@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
:root{
    --txt:rgb(40, 40, 40);

    --destaq:rgb(215, 173, 230) ;
    --fundo:rgb(207, 229, 236);
    --fundo2:rgb(173,216,230);
    --fundo3:rgb(134, 197, 218);
    /* --fundo:rgb(255, 214, 157);
    --fundo2:rgb(255, 193, 108);
    --fundo3:rgb(255, 148, 48);
    --destaq:rgb(248, 56, 57); */
}
::selection{
    background: var(--destaq);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}
::-webkit-scrollbar {
    width: 0.9rem;
}
::-webkit-scrollbar-thumb {
    background-color: var(--destaq);
}
::-webkit-scrollbar-track {
    background-color: var(--fundo2);
}
p,h1{
    color: var(--txt);
    cursor: default;
}
html{
    scroll-behavior: smooth;
}
a:visited{
    color: var(--txt);
}
a:link{
    color: var(--txt);
}

.container{
    background-color: var(--fundo);
    width: calc(100vw - 1.1%);
    height: 513vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
nav{
    width:100%;
    height: 5rem;
    background-color: var(--fundo2);
    border-bottom: 0.2rem solid var(--destaq); 

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.logo{
    margin: 0.5rem 3rem;
    width: 9rem;
    height: calc(100% - 1rem);
}
.link-personagens{
    display: flex;
    list-style: none;
}
.link-personagens li{
    margin: 0 1rem;
}
.checkbox-wrapper-41{
    margin: 0rem 3rem;
}

main{
    width: 100%;
    height: 100vh;
    background-color: var(--fundo1);
}
.autor{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row; 
}
.aluisio{
    height: 80%;
    width: 22%;
    margin: 3rem;
    padding: 3rem;
    padding-bottom: 15rem;
    border-radius: 20px 500px 500px 500px;/*topo direita baixo esquerda */
    background-color: var(--fundo2);
    border: 0.2rem solid var(--destaq); 
}
.aluisio img{
    width: 100%;
    border-radius:20px 500px 500px 500px;
}
.descricao{
    width: 100%;
    height: 65%;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
}

#p2{
    margin: 10px 0;
    font-style: italic;
    font-size: 0.9rem;
    text-align: center;
}
#p3{
    text-align: center;
}

.content{
    margin-top: 3rem;
    margin-left: 3rem;
    width: 70%;
    height: 80%;
    display: flex;
    flex-wrap: wrap;
}
.switches{
    display: flex;
    width: 100%;
    height: 10%;
}

#sobre{
    background-color: var(--fundo2);
    border-radius: 10px 0 0 0;
}
#obras{
    background-color: var(--fundo3);
    border-radius: 0 10px 0 0;
}
#voltar{
    height: 100%;
    border-radius: 10px 10px 0 0;
    background-color: var(--destaq);
}
#sobre,#obras,#voltar,#resumo,.pers a h1{
    height: 100%;
    width: 7rem;
    border: 0.2rem solid var(--destaq); 
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.back{
    width: calc(90% - 14rem);
    display: flex;
    justify-content: flex-end;
    height: 100%;
}
.sobretxt{
    width: 90%;
    height: 90%;
    /* margin: 0 3rem 3rem 3rem; */
    background-color: var(--fundo2);
    border: 0.2rem solid var(--destaq); 
    border-radius: 0 0 200px 00px;
    display: flex;
    flex-wrap: wrap;
    align-content: space-evenly;
}
.sobretxt p{
    margin: 0 3rem;
    text-align: justify;
}
.obrastxt{
    width: 90%;
    height: 90%;
    /* margin: 0 3rem 3rem 3rem; */
    background-color: var(--fundo2);
    border: 0.2rem solid var(--destaq); 
    border-radius: 0 0 200px 00px;

    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}

.livro1,.livro3{
    margin-bottom: 6.5rem;
    width: calc(100% / 4);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.livro2 a{
    display: flex;
    justify-content: center;
}
.livro2{
    margin-bottom: 6.5rem;
    width: calc(100% / 3);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.pensao{
    width: 80%;
}
.cortico-capa{
    width: 80%;
}
.mulato{
    width: 80%;
}
.livro{
    padding-top: 2rem;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row; 
}

.livro-cortico{
    height: 80%;
    width: 22%;
    margin: 3rem;
    padding: 3rem;
    padding-bottom: 15rem;
    border-radius: 500px 20px 500px 500px;/*topo direita baixo esquerda */
    background-color: var(--fundo2);
    border: 0.2rem solid var(--destaq); 
}
.livro-cortico img{
    width: 100%;
    border-radius:500px 20px 500px 500px;
}

.livro-content{
    margin-top: 3rem;
    margin-right: 3rem;
    width: 70%;
    height: 80%;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    
    
}
.livro-resumo-txt{
    width: 90%;
    height: 90%;
    background-color: var(--fundo2);
    border: 0.2rem solid var(--destaq); 
    border-radius: 0 0 0 200px;
    display: flex;
    flex-wrap: wrap;
    align-content: space-evenly;
}
.livro-resumo-txt p{
    margin: 0 3rem;
    text-align: justify;
}
.switches-livro{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 10%;
}
#resumo{
    border-radius: 10px 10px 0 0;
    background-color: var(--fundo2);
}



.pers{
    padding-top: 2rem;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: row; 
}
.pers-content{
    margin: 3rem;
    width: 90%;
    height: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content:center;
}
.txt1{
    width: 100%;
    height: 90%;
    background-color: var(--fundo2);
    border: 0.2rem solid var(--destaq); 
    border-radius: 0 0 200px 200px;
    display: flex;
    flex-wrap: wrap;
    align-content: space-evenly;
}
.txt2{
    width: 100%;
    height: 90%;
    background-color: var(--fundo2);
    border: 0.2rem solid var(--destaq); 
    border-radius: 200px 200px 200px 200px;
    display: flex;
    flex-wrap: wrap;
    align-content: space-evenly;
}
.txt3{
    width: 100%;
    height: 90%;
    background-color: var(--fundo2);
    border: 0.2rem solid var(--destaq); 
    border-radius:200px 200px 0 0;
    display: flex;
    flex-wrap: wrap;
    align-content: space-evenly;
}
.txt p{
    margin: 0 3rem;
    text-align: justify;
}
.switch-personagem-centro{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 10%;
}
.h1-personagem{
    border-radius: 10px 10px 0 0;
    background-color: var(--fundo2);
    cursor:pointer;
}

.txt1 p,.txt2 p,.txt3 p{
    margin: 0 3rem;
    text-align: justify;
}

.divisao{
    display: flex;
    justify-content: center;
}
.divis{
    width: 92%;
    height: 0.2rem;
    background-color: var(--destaq);
}















.checkbox-wrapper-41 {
    --size: 4.688rem;
  }
  
  .checkbox-wrapper-41 input[type="checkbox"] {
    -webkit-appearance: none;
    width: var(--size);
    height: calc(var(--size) / 2);
    background-color: var(--fundo3);
    border: 3px solid #222;
    border-radius: 30px 100px 100px 100px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
    outline: none;
    cursor: pointer;
    position: relative;
    transition: all 0.5s;
  }
  
  .checkbox-wrapper-41 input[type="checkbox"]::before {
    content: "";
    position: absolute;
    width: calc(var(--size) / 2);
    height: calc(var(--size) / 2);
    left: 0;
    top: 50%;
    transform: translateY(-50%) scale(0.7);
    border: 3px solid #222;
    border-radius: 30px 100px 100px 100px;
    background-color: var(--destaq);
    box-sizing: border-box;
    transition: all 0.5s;
  }
  
  .checkbox-wrapper-41 input[type="checkbox"]:checked {
    background-color: var(--fundo3);
    border-radius: 100px 100px 30px 100px;
  }
  
  .checkbox-wrapper-41 input[type="checkbox"]:checked::before {
    left: 50%;
    background-color: var(--destaq);
    border-radius: 100px 100px 30px 100px;
  }




  









/* nav{
    display: flex;
    width: 50%;
    height: 5rem;

    justify-content: space-between;
    position: fixed;
    background-color: var(--fundo);
}
nav ul{
    margin-right: 4rem;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
nav li{
    
    margin: 1.5rem 1rem;
    font-size: 1.3rem;
    color: var(--txt);
}

.mob{
    display: none;
    
}
.mob img{
    height: 3rem;
    
}
.logo{
    height: 4rem;
    margin: 0.6rem 0rem;
    margin-left: 5rem;
}



#menu{
    width: 100vw;
    height: 100%;
    background-color: var(--fundo2);
    display: none;
    margin-top: 5rem;
    
}

#menu ul{
    height: calc(100vh - 5rem);
    list-style: none;
    
    display: flex;
    align-items: center;
    
    justify-content: space-around;
    
    flex-direction: column;
}



li:hover{
    transform: scale(1.5);
}


.container2{
    background-color: var(--fundo);
    color: var(--txt); 
    display: flex; 
    flex-wrap: wrap;
    width: 100%;
    height: 200vh;
}
.content2{
    width: 100%;
    background-color: var(--destaq);
    height: 100vh;
}

.Autor{
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
}

.content2 h1{
    font-size: 3rem;
    color: var(--txt);
    margin-top: 5rem;
    margin-bottom: 2.5rem;
    cursor: default;
}
.content2 p{
    margin: 0rem 2rem;
    color: var(--txt);
    text-align: justify;
    cursor: default;
}
#voltar{
    padding: 0.7rem;
    background-color: rgb(215, 173, 230);
    border-radius: 40%;
} */







/* .slide-left{
    animation: slideleft 0.7s forwards;
} 
p.slide-left{
    animation-delay: 1.8s;
}
h1.slide-left{
    animation-delay: 1.3s;
}
nav li{
    animation: slideleft 1s both;
}
.menu li{
    animation: aa 1s both;
}
@keyframes aa {
    0%{
        
        opacity: 0;
        
    }
    100%{
        
        opacity: 1;
    }
    
}


li:nth-child(1){
    animation-delay: 0s;
}
li:nth-child(2){
    animation-delay: 0.3s;
}
li:nth-child(3){
    animation-delay: 0.6s;
}
li:nth-child(4){
    animation-delay: 0.8s;
}
li:nth-child(5){
    animation-delay: 1s;
}



@keyframes slideleft{
    0%{
        transform: translate(-100px);
        opacity: 0;
    }
    100%{
        transform: translate(0px);
        opacity: 1;
    }
} */
